* {
  box-sizing: border-box;
}
.dropdown-container {
  float: left;
  display: block;
  width: 250px;
}
.dropdown-display {
  float: left;
  width: 100%;
  background: white;
  height: 40px;
  cursor: pointer;
  border: solid 1px #dddddd;
}
span {
  font-size: 14px;
  width: 100%;
  position: relative;
  box-sizing: border-box;
  padding-right: 34px;
  padding-left: 10px;
  vertical-align: middle;
  height: 40px;
  line-height: 40px;
}
.dropdown-list {
  display: none;
  position: relative;
  float: left;
  transition-property: transform;
  transition-timing-function: ease;
  transition-duration: 0.25s;
}
.dropdown-list > div  {
  width: 100%;
  z-index: 2;
  cursor: pointer;
  background: white;
  /* border: 1px solid grey; */
}
.show .dropdown-list {
  display: block;
}
.selectedVariant {
  border: 0.25px solid grey
}
.selectedVariant:hover {
  font-weight: 900;
}
.caretStyle {
  position: relative;
  width: 14px;
  font-size: 1.125em;
  font-weight: bold;
  padding-right: 10px;
  text-align: right;
}